<template>
    <div id="category-wrapper">
        <div id="list-category" class="buy-x-features-prices"
             style="background-size:contain;">
            <div class="buy-x-header" style="padding-bottom: 20px;">
                <div class="buy-x-header-heading">
                    <h2>Special discount</h2>
                </div>
            </div>
            <div class="buy-x-packages-list a">
                <category-item
                    v-bind:categories="this.salePocket"
                    v-bind:list-advantages="this.listAdvantages"
                    button="sale">
                </category-item>
            </div>
            <div class="special">
                <div class="special-switch">
                    <div class="switch-title">
                        Offer ends in:
                    </div>
                    <div class="switch-container" name="timer">
                        <div class="timer">
                            <span class="large">{{hour}}</span>
                            <span class="small">:</span>
                            <span class="large">{{minute}}</span>
                            <span class="small">:</span>
                            <span class="large">{{second}}</span>
                        </div>
                        <div class="times">
                            <span class="large tgr11">Hourse</span>
                            <span class="small"> - </span>
                            <span class="large tgr11">Minutes</span>
                            <span class="small"> - </span>
                            <span class="large tgr11">Seconds</span>
                        </div>
                    </div>
                </div>
                <div class="guarantees">
                    <p>100% Real & Active Followers</p>
                    <p>30-Day Money-Back Guarantee</p>
                    <p>Drop Protection with Auto-Refill System</p>
                    <p>Customized Followers (target by country & gender)</p>
                </div>
            </div>

            <div class="buy-x-header" style="padding-bottom: 20px;">
                <div class="buy-x-header-heading">
                    <h2 v-if="this.pageUrl !== 'special' && this.pageUrl !== 'index'">Choose a Package</h2>
                    <h2 v-if="this.pageUrl === 'special' || this.pageUrl === 'index'">Today's Special</h2>
                </div>
                <div class="buy-x-header-buttons" v-if="this.pageUrl !== 'special' && this.pageUrl !== 'views' && this.pageUrl !== 'index'">
                    <div style="margin: auto;" class="ws-flexbox">
                        <div class="buttonsDistance">
                            <div class="buy-x-header-button-left" style="display: inline;">
                                <input id="buy-x-header-button-left" type="button" v-bind:value="this.getButtonsName[0].left" class="button buttonChoice" v-on:click="clickButton('real')">
                            </div>
                        </div>
                        <div>
                            <div class="buy-x-header-button-right" style="display: inline;">
                                <input id="buy-x-header-button-right" type="button" v-bind:value="this.getButtonsName[1].right" class="button buttonChoice" v-on:click="clickButton('bot')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buy-x-packages-list a">
                <category-item
                    v-bind:categories="this.pocket"
                    v-bind:list-advantages="this.listAdvantages"
                    v-bind:button="this.button" >
                </category-item>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'category',
        props: [
            'categories',
            'page-url',
            'list-advantages',
        ],
        computed: {
            getButtonsName: function() {
                let type = this.pageUrl;
                return [
                    { 'left': 'Real ' + type },
                    { 'right': 'Bot ' + type }
                ]
            },
        },
        data: function() {
            return {
                category: [],
                array: [],
                salePocket: [], // массив с пакетами за 1 доллар
                pocket: [], // масссив со всеми пакетами кроме 1 доллара
                button: 'real',
            }
        },
        beforeMount() {
            this.timer();
            this.category = JSON.parse(this.categories);
            this.$set(this.array, 'categories', this.category);

            this.salePocket = this.category.filter((item, i, arr) => {
                if (item.description.match(/Test/i)) {
                    arr.slice(i, i + 1);
                    return true;
                } else {
                    this.pocket.push(item);
                }
            })

            this.launchTimer();
        },
        methods: {
            clickButton: function(button) {
                if (button == 'real') {
                    this.button = 'real';
                } else {
                    this.button = 'bot';
                }
            },
            showLog(param) {
                console.log(param);
            },
            launchTimer: function() {
                var vm = this;
                setTimeout(function run() {
                    vm.timer();
                    setTimeout(run, 1000);
                }, 1000);
            },
            timer: function() {
                this.hour = '00';
                this.minute = 29 - new Date().getMinutes() % 30;
                this.second = 59 - new Date().getSeconds();
                if (this.minute < 10) {
                    this.minute = '0' + this.minute;
                }
                if (this.second < 10) {
                    this.second =  '0' + this.second;
                }
                this.$forceUpdate();
            }
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: .1s;
    }

    .fade-enter, .fade-leave-to {
        transition: .1s;
    }
</style>