<template>
    <div id="category-item" >
        <div v-for="item in isShowPocket" class="b" style="transform: scale(1,1);" v-if="item.toMain">
            <div class="d">
                <div class="c">
                    <span class="hot" v-if="item.isFeatures">
                        {{ item.isFeatures }}%
                    </span>
                    <span v-if="item.isFeatures" class="yamuk">
                        <span>
                            {{item.isFeatures}}
                        </span>
                    </span>
                    <div class="quantityGoods">
                        {{item.count}}
                        <br class="brVisibility">

                        <div class="target">
                            {{item.description === 'Test Views' ? 'Views' : item.description.replace(/Test/gi, 'Real')}}
                        </div>
                    </div>
                </div>
                <div class="e">
                    <div class="l">

                        <span class="f">
                            $
                        </span>

                        <span class="int" style="color : #0380ff">
                            {{item.cost}}
                        </span>

                        <span class="g" v-if="item.isFeatures">
                            ${{ (item.cost*(1 + item.isFeatures/100)).toFixed(2) }}
                        </span>

                    </div> 
                </div>         
                <div>
                    <ul class="h">

                        <li class="i" v-for="(advantage) in getAdvantagesForPocket(item.listAdvantages)">
                            {{listAdvantagesArray[advantage]}}
                        </li>

                    </ul>
                </div>
                <div class="k">

                    <a class="j" v-bind:class="item.isFeatures ? 'buy-buttonFeatures' : 'buy-button'" v-bind:href="item.linkOrder">
                        &nbsp;&nbsp;&nbsp;&nbsp;Get&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "category-item",
        props: [
            'categories',
            'list-advantages',
            'button'
        ],
        data: function () {
            return {
                listAdvantagesArray: JSON.parse(this.listAdvantages),
            }
        },
        beforeMount() {

        },
        mounted() {
            
        },
        computed: {
            isShowPocket: function() {
                let pattern = RegExp(this.button, 'gi');
                return this.categories.filter((item) => {
                    if (item.type == 'views') {
                        return true;
                    }
                    
                    if (item.type == 'special') {
                        return true;
                    }

                    if (this.button == 'sale') {
                        return true
                    } else {
                        return item.description.match(pattern);
                    }
                });
            },
        },
        methods: {
            getAdvantagesForPocket: function(advantages) {
                let pocketAdvantagesList = JSON.parse(advantages);
                return pocketAdvantagesList.filter((index) => {
                    if (this.listAdvantagesArray.indexOf(index)) {
                        return this.listAdvantagesArray[index];
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>