<template>
    <div id="checkout" class="user-info">
        <div class="basisLogoPay">
            <div class="logoPay">
                <a href="/" title="To Homepage" class="ws-flexbox">
                    <img src="/src/img/loogo.png" alt="logo" width="auto" style="width: 30%;">
                    <p class="menu-container-logo-text" style="color: #fff;top: -20px;margin-left: 5px;font-size: 20px;margin-top: 36px;">BoosterBoom</p>
                </a>
            </div>
            <div class="step">
                <div class="pointer" @click="backStep"></div>
                <div class="pointer pointer2"></div>
                <div class="lineStep"></div>
                <div v-if="this.stepFlag === 2">
                    <div class="lineStep2"></div>
                    <div class="pointer pointer2" style="background:white; top: -49px;"></div>
                </div>
            </div>
        </div>
        <div class="logoHeader" @click="hederBack">
            <div>
                <div style="position: absolute; top:10px">
                    <img src="/src/img/backHeader.PNG" alt="">
                </div>
            </div>
            <div style="font-size:25px;text-align: center;margin-top: 20px;color: #1e1e1e;font-family: Nunito, Helvetica, Sans-serif;font-weight: 800;">
                BoosterBoom
            </div>
        </div>
        <div v-if="this.stepFlag === 1">

        <div id="checkout-automatic-content" class="ws-flexbox-mode">
            <div id="checkout-loader" class="checkout-card expanded" style="display: none;">
                <div id="checkout-loader-animation">
                    <svg version="1.1" class="loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="404px" height="86px" viewBox="0 0 404 86" enable-background="new 0 0 404 86" xml:space="preserve">
               <g id="loader-camera">
                  <path fill="#C7A7F7" d="M369.913,72c-0.005,0-0.009,0-0.014,0l-47.914-0.042c-2.348-0.008-4.246-1.859-4.238-4.208l0.159-47.886	c0.004-1.127,0.456-2.021,1.255-2.816c0.797-0.792,1.874-1.049,2.997-1.049c0.005,0,0.009,0,0.014,0l47.914-0.013	c2.348,0.008,4.246,1.832,4.238,4.18l-0.159,47.872c-0.004,1.127-0.456,2.069-1.255,2.864C372.113,71.695,371.036,72,369.913,72z	 M326.265,63.585l39.41,0.131l0.131-39.411l-39.41-0.131L326.265,63.585z"></path>
                   <path fill="#C7A7F7" d="M390.319,67.715c-0.683,0-1.366-0.164-1.989-0.494l-20.354-10.772c-1.397-0.739-2.269-2.192-2.263-3.772	l0.059-17.586c0.005-1.565,0.87-3.001,2.251-3.738l20.426-10.892c1.319-0.704,2.912-0.663,4.194,0.11	c1.281,0.771,2.063,2.16,2.058,3.656l-0.13,39.25c-0.005,1.489-0.788,2.866-2.064,3.632	C391.835,67.512,391.078,67.715,390.319,67.715z M374.226,50.134l11.865,6.28l0.083-25.103l-11.907,6.349L374.226,50.134z"></path>
                   <circle fill="#C7A7F7" cx="345.793" cy="44.03" r="7.908"></circle>
               </g>
                        <path id="loader-human" fill="#A1B2F0" d="M302.395,79c-0.003,0-0.006,0-0.009,0l-60.815-0.221	c-1.127-0.002-2.208-0.497-3.003-1.296c-0.796-0.799-1.241-1.904-1.239-3.032c0.029-12.906,6.855-25.127,17.115-31.46	c-2.397-4.248-3.511-9.38-3.503-13.27c0.026-11.878,9.813-21.544,21.817-21.544c11.878,0.026,21.85,10.25,21.823,22.328	c-0.01,4.617-1.46,9.327-3.898,13.104c9.513,6.544,15.99,18.826,15.964,31.061C306.642,77.015,304.739,79,302.395,79z	 M246.154,70.198l51.659,0.113c-1.458-9.359-7.591-18.209-15.408-21.632c-1.344-0.589-2.29-1.829-2.502-3.28	c-0.212-1.452,0.339-2.91,1.458-3.859c2.768-2.345,4.707-6.891,4.716-11.054c0.016-7.468-6.069-13.791-13.288-13.807	c-7.481,0-13.329,5.735-13.345,13.056c-0.009,4.275,1.896,9.37,4.335,11.599c1.083,0.99,1.58,2.468,1.313,3.91	c-0.266,1.443-1.257,2.646-2.622,3.185C253.921,51.798,247.614,60.413,246.154,70.198z"></path>
                        <g id="loader-clock">
                  <path fill="#78BDE9" d="M191.57,77.751c-19.329,0-35.054-15.725-35.054-35.053S172.242,7.646,191.57,7.646	c19.328,0,35.053,15.725,35.053,35.053S210.898,77.751,191.57,77.751z M191.57,16.149c-14.64,0-26.55,11.91-26.55,26.549	s11.91,26.549,26.55,26.549c14.639,0,26.549-11.91,26.549-26.549S206.209,16.149,191.57,16.149z"></path>
                            <path fill="#78BDE9" d="M202.644,60.591c-1.264,0-2.514-0.561-3.353-1.633L188.22,44.795c-0.561-0.717-0.876-1.596-0.9-2.506	l-0.352-13.309c-0.062-2.347,1.791-4.301,4.138-4.363c2.335-0.074,4.3,1.79,4.363,4.138l0.315,11.907l10.208,13.058	c1.446,1.85,1.119,4.522-0.731,5.969C204.482,60.296,203.56,60.591,202.644,60.591z"></path>
               </g>
                        <path id="loader-heart" fill="#4DC9E2" d="M109.459,77.634c-1.083,0-2.167-0.412-2.996-1.234c-2.262-2.246-4.486-4.419-6.645-6.53	c-15.685-15.334-28.074-27.446-28.071-40.59C71.751,15.304,82.967,7.763,93.519,7.763c6.143,0,11.796,2.336,15.961,6.441	c4.161-4.081,9.812-6.402,15.958-6.402c5.63,0,10.923,1.955,14.904,5.505c4.416,3.938,6.847,9.618,6.845,15.995	c-0.005,13.145-12.398,25.25-28.088,40.575c-2.159,2.109-4.383,4.281-6.645,6.524C111.625,77.223,110.542,77.634,109.459,77.634z	 M93.519,16.267c-6.388,0-13.264,4.073-13.267,13.015c-0.002,9.564,11.257,20.572,25.512,34.507c1.213,1.186,2.447,2.392,3.697,3.62	c1.249-1.226,2.482-2.431,3.695-3.616c14.26-13.928,25.523-24.929,25.527-34.495c0.001-3.975-1.382-7.31-4-9.645	c-2.386-2.128-5.755-3.348-9.244-3.348c-5.171,0-9.765,2.585-12.29,6.915c-0.762,1.307-2.161,2.11-3.673,2.11h0	c-1.513,0-2.912-0.804-3.673-2.111C103.264,18.866,98.673,16.267,93.519,16.267z"></path>
                        <g id="loader-location">
                  <path fill="#22D5DA" d="M35.557,78c-5.185,0-10.996-5.925-17.273-17.965c-3.955-7.586-8.61-18.997-8.714-26.444	C9.375,19.554,20.637,8.02,34.673,7.824l0.359,0.02c13.842,0,25.26,11.273,25.453,25.117c0.103,7.463-4.243,18.935-7.997,26.64	C46.521,71.852,40.856,78,35.653,78C35.633,78,35.577,78,35.557,78z M35.032,16.371l-0.24,0.001	c-9.348,0.131-16.848,7.842-16.719,17.191c0.149,10.756,12.757,33.851,17.46,36.197c4.636-2.476,16.597-25.913,16.449-36.67	C51.854,23.871,44.25,16.371,35.032,16.371z"></path>
                            <circle fill="#22D5DA" cx="34.703" cy="33.441" r="4.568"></circle>
               </g>
            </svg>
                </div>
                <p>Loading...</p>
            </div>
            <div id="checkout-account-package" class="checkout-card expanded" style="">

                <div id="checkout-account" class="checkout-card-section">
                    <div id="hidden-checkout-account-selected" v-if="typeof selectedAccount.name2 !== 'undefined' && typeof selectedAccount.avatar !== 'undefined'">
                        <div class="checkout-account-image" :style="{'background-image': 'url('+selectedAccount.avatar+')', 'background-size': 'cover', 'background-position': 'center'}"></div>
                        <h3 class="checkout-account-name">{{selectedAccount.name2}}</h3>
                        <div id="checkout-account-change" class="button" @click="resetSelectedAccount()">Change</div>
                    </div>
                    <div id="hidden-checkout-account-default" v-else>
                        <h3 class="YourPackage">Your Package</h3>
                        <p id="checkout-account-error" style="display: none; color: red; text-align: center; padding-top: 20px"></p>
                        <div id="checkout-account-form" class="checkout-card-form">
                            <div class="form-error" style="display: none;">
                                <div class="icon">
                                    <img src="/src/img/icon-cross.svg"/>
                                </div>
                                <p></p>
                            </div>
                            <div class="input-wrapper icon-right">
                                <select id="checkout-package-select"   v-model="selectedCountByCategory" style="margin-top: 16px;">
                                    <option v-for="(categoryItem, key) in listCategories" :key="key" :value="categoryItem.count">{{showInfoCategory(categoryItem)}}</option>
                                </select>
                                <div class="icon" id="icon_margin-right">
                                    <img src="/src/img/icon-angle-cyan.svg"/>
                                </div>
                            </div>
                            <h3 class="YourPackage margin-top40">Your Data</h3>
                            <div class="input-wrapper">
                                <div class="icon">
                                    <img src="/src/img/icon-human-cyan.svg"/>
                                </div>
                                <form>
                                    <input id="checkout-account-input" type="text" placeholder="instagram" v-model="nickname" 
                                        autocomplete="on" name="input-instagram" style="text-overflow: ellipsis;"
                                        class="boss-account-input" @input="inputInstagram()">
                                    <div class="account-list account-none">

                                        <div class="input-wrapper account-element" v-for="item in sourceAccaunt" v-bind:key="item.user.username" style="margin-bottom: 2px;width: calc(100% - 2px);" @click="clickAccount(item.user.username, item.user.pk)">
                                            <div class="icon" v-if="item.user.profile_pic_url">
                                                <img v-bind:src="item.user.profile_pic_url" style="width: 100%;height: 100%;padding:0px;border-radius: 30px;"/>
                                            </div>
                                            <input  id="checkout-account-input" v-bind:value="item.user.username" readonly style="cursor:pointer">
                                        </div>
                                           
                                    </div>
                                </form>
                            </div>
                            
                            <div class="input-wrapper">
                                <div class="icon" style="color:rgba(56,168,255,1); font-weight: bold;font-size: 21px;font-family: Nunito, Helvetica, Sans-serif;">
                                    @
                                </div>
                                <input type="text" style="text-overflow: ellipsis;" v-model="email" id="checkout-account-input-email" 
                                    placeholder="email" autocomplete="on" name="input-email" @input="inputEmail()">
                            </div>

                            <div style="text-align: center; margin-top: 40px;">
                                <button id="getInfoButton" readonly @click="nextStep" class="button blue buttonContinue">Continue</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div id="checkout-media" class="checkout-card-section" v-if="(typeof selectedAccount.name2 !== 'undefined' &&  existsSelectedCategory()) &&  getCurrentCategory() !== 'followers'">
                    <h3>Select publication</h3>
                    <div id="checkout-media-list">

                        <div class="checkout-media-item ready" v-for="(item, key) in selectedAccount.listMedia" :key="key" @click="selectedMedia(item)">

                            <img class="item-video-icon" src="/src/img/icon-video.svg" />
                            <div class="item-loader">
                                <img src="/src/img/icon-spinner-cyan.svg" />
                            </div>
                            <div class="item-done likes" v-if="typeof selectedMediaList[item.node.id] !== 'undefined'" style="display:inline-block">
                                <img class="icon" src="/src/img/icon-heart-filled.svg" />
                                <span>{{getCountByCategory()}}</span>
                            </div>
                            <div class="item-image" :style="{'background-image': 'url(https://www.instagram.com/p/'+item['node']['shortcode']+'/media?size=t)', 'background-size': 'cover', 'background-position': 'center'}"></div>
                        </div>

                    </div>
                    <div id="checkout-media-message" style="display: none;">
                        <img class="icon" src="/src/img/icon-exclamation-ring.svg" />
                        <p></p>
                    </div>
                    <div id="load-more-button" class="button blue" style="display: none;">Show more</div>
                    <div id="checkout-media-summary" v-if="existsSelectedItems()">
                        <h3>Selected publication</h3>
                        <p>Make sure you select all publications that you want.</p>
                        <div id="summary-list">
                            <div class="summary-item" v-for="(item, key) in selectedMediaList" :key="key">
                                <img class="thumbnail" :src="'https://www.instagram.com/p/'+item['node']['shortcode']+'/media?size=t'" />
                                <p>{{type}} {{getCountByCategory()}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" style="margin-top: 40px;">
                <div >
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAMAAACfWMssAAAAPFBMVEVHcEz///////////////////////////////////////////////////////////////////////////+PybD1AAAAE3RSTlMADT5NggUlMi0a9dVjVujDqHGW97fJyAAAAcpJREFUSMetl9mihCAIhict19SW93/Xo+0gltMcbu2LP0Cgz4eyRmuhlJRKCa2bT6U1IiJXU6KC7TSiNlZ39xyNreidyCK2oEXBWj4Y7bQT8tEU8aWdkvINWcflZC2XkUJWm/gqnoXYNvIrO/OpvgPVvdAxeB9adiOWiiif/LyYGVwxsppwNl/M5m419YWHs9nufOZW5SFlw/Xh8yWBZ4EFuWcWy9tle46rACgdDmcKaw9IK1RqIkakYEwoh1pBTHk8n8ikxoMRxhWALp63FNjjAw1jUw8KGBsCZEPKRAaqJzDlx5KgvAWXvFKgLIGOHZzpSZCWamfvLlz1N6Z8endyFEinI1WKPzkqHXTl8P0e93WVk2rVypPcuaX4OQRhkac75A7y4Fh8occXUuFitpvsYPvrbZtwC4BN3FL3I4XGMHyRm+wZGIYYa5Olv8mbVVJlAOk8vv9bS0btMcXHXNSOyZ9lRHtEDXntV3tXW7se7FTHqEMu2drXwshZP5il5/HCvMIzYJiBBVYYOvmY6/2J+bY85ojx0W6d2U/sbmmhVhXeTlPrHkb5++Xh9bryfkGqW8lE959L4A9r5/tF94fV+v0yv/t9/H34A7soVAwNtcDRAAAAAElFTkSuQmCC" alt="">
                </div>
                <div class="footer-title tgb16">Our Guarantee</div>
                <p class="tgr12">1. Trusted by 10,000+ members</p>
                <p class="tgr12">2. Organic &amp; Active Followers</p>
                <p class="tgr12">3. 100% Safe &amp; Private</p>
                <p class="tgr12">4. Drop Protection with Auto-Refill System</p>
                <p class="tgr12">5. Average start time 1-2 hours</p>

            </div>
            <div id="checkout-payment" class="checkout-card" style="" :key="isVisible()" v-if="isVisible()">
                <div id="hidden-payment-content" class="checkout-card-view" >
                    <h3 class="checkout-card-heading">It remains only to pay</h3>
                    <p id="payment-content-subheader">Payment is made through the payment service Paypal.</p>
                    <div id="checkout-payment-info">
                        <div id="checkout-payment-message">
                            <p></p>
                        </div>
                        <p id="checkout-payment-total" v-bind="total">
                            {{ sale(this.link.length, selectedCategory.cost) }}$
                        </p>
                        <form id="configurator_form" method="POST" :action="paypalRoute">
                            <input type="hidden" name="_token" id="csrf-token" :value="csrfToken" />
                            <input type="hidden" name="type" v-model="selectedCategory.type" />
                            <input type="hidden" name="count" v-model="selectedCountByCategory" />
                            <input type="hidden" name="link" v-model="link">
                            <input type="hidden" name="user_id" v-model="this.selectedAccount.user_id">
                            <input type="hidden" name="nickname" v-model="nickname">
                            <input type="hidden" name="email" v-model="email">
                            <button @click="checkout()" class='button blue' style="border: none">Buy now</button>
                        </form>
                        <p id="checkout-payment-tip">If you suddenly do not find a suitable payment method - write to us and we will definitely think of something!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="this.stepFlag === 2">
        <instagram-step-2 v-bind:accountInformation="this.accountInformation"/>
    </div>
</div>
</template>

<script>
    export default {
        name: 'instagram',
        props:[
            'type',
            'count',
            'categories',
            'paypalRoute',
            'csrfToken',
            'specialOffer'
        ],
        data: () => {
            return {
                email: "",
                link: [],
                nickname: "",
                category: "",
                user_id: "",
                selectedAccount: {},
                selectedMediaList: {},
                selectedCategory: false,
                listCategories: false,
                selectedCountByCategory: 0,
                findFlag: false,
                stepFlag: 1,
                sourceAccaunt: []
            }
        },
        mounted () {
            let vm = this;

            let categories = JSON.parse(this.categories);
            if (typeof categories === 'object' && typeof categories.id !== 'undefined') {
                this.$data.selectedCategory = {};
                this.$set(this.$data, 'selectedCategory', categories)
            } else if (typeof categories === 'object' && typeof categories[0] !== 'undefined') {
                this.$data.listCategories = {};
                this.$set(this.$data, 'listCategories', categories);
                this.$set(this.$data, 'selectedCountByCategory', categories[0].count);
            }
            if (this.count.length > 0) {
                this.$set(this.$data, 'selectedCountByCategory', this.count);
                Object.keys(vm.listCategories).forEach(function (key) {
                    vm.listCategories[key].description = (vm.listCategories[key].description === 'Test Views' ?
                    'Views' : vm.listCategories[key].description.replace(/Test/gi, 'Real'));
                    if (vm.listCategories[key].count === vm.selectedCountByCategory) {
                        vm.$set(vm.$data, 'selectedCategory', vm.listCategories[key])
                    }
                })
            }
            $('html').keydown(function(e){ //отлавливаем нажатие клавиш
                if (e.keyCode == 13) { //если нажали Enter, то true
                    vm.nextStep();
                }
            });
        },
        methods: {
            clickAccount(value, idNickname) {
                if (value === 'No results found') {
                    return
                }
                this.nickname = value;
                this.idNickname = idNickname;
                $('.account-list').addClass('account-none');
                $('.boss-account-input').addClass('boss-account-input-color');
            },
            inputInstagram() {
                var vm = this;
                if (vm.nickname === undefined || vm.nickname === '') {
                    $('.account-list').addClass('account-none');
                    $('.boss-account-input').removeClass('boss-account-input-color');
                } else {
                    $('.boss-account-input').removeClass('boss-account-input-color');
                    var url='https://www.instagram.com/web/search/topsearch/?context=blended&query='+ vm.nickname +'&rank_token=0.9604042416981704&include_reel=true'
                    var Http = new XMLHttpRequest();
                    vm.Http2 = new XMLHttpRequest();
                    Http.open("GET", url, true);
                    Http.send();
                    Http.onreadystatechange = function (e) {
                        if (Http.status !== 404 && Http.readyState === XMLHttpRequest.DONE) {
                            vm.sourceAccaunt = [];
                            var size = 9;
                            var result = JSON.parse(e.currentTarget.response).users;
                            if (result.length < 10) { 
                                size = result.length;
                            }
                            if (size === 0) {
                                vm.sourceAccaunt = [{user:{username: 'No results found'}}]
                            } else {
                                vm.sourceAccaunt = result.slice(0, size) 
                            }
                            $('.account-list').removeClass('account-none');
                        }
                    }
                }
            },
            inputEmail: function() {
                let reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                if (reg.test(this.email)) {
                    $('#checkout-account-input-email').addClass('boss-account-input-color');
                } else {
                    $('#checkout-account-input-email').removeClass('boss-account-input-color');
                }
            },
            sale(postsCount, cost) {
                return cost * postsCount;
            },
            isVisible() {
                if (this.existsSelectedItems() || this.showButton() && this.findFlag &&  (this.nickname !== '' && this.email !== ''))
                return true;
            },
            checkout() {
                $.blockUI({message: '<img src="/src/img/icon-spinner-cyan.svg" />', css: { backgroundColor: 'none', color: 'none', border: 'none'}});
            },

            showButton() {
                if(this.getCurrentCategory() == 'followers') {
                    return 1;
                }
            },
            getCurrentCategory() {
                return window.location.toString().split('/')[4];
            },

            showInfoCategory (obj) {
                
                return obj.count + ' ' + obj.description + ' | $' + obj.cost
            },
            modifyUrl(url) {
                window.history.pushState({}, null, url)
            },
            modifyUrlBackSelectCount() {
                return this.modifyUrl('/checkout/'+this.selectedCategory.type)
            },

            getCategoryInfo () {
                if (this.existsSelectedCategory()) {
                    return this.showInfoCategory(this.selectedCategory)
                }
            },
            getCountByCategory () {
                return typeof this.selectedCategory === 'object' && typeof this.selectedCategory.count !== 'undefined' ? this.selectedCategory.count : this.count
            },

            existsSelectedItems() {
                let vm = this;
                let count = 0;
                Object.keys(vm.selectedMediaList).forEach(function (key) {
                    count++
                });
                return count > 0
            },
            selectedMedia (el) {
                if (typeof this.selectedMediaList[el.node.id] === 'undefined') {
                    if (Object.keys(this.selectedMediaList).length < 5) {
                        this.$set(this.selectedMediaList, el.node.id, el);
                        this.link.push(el.node.shortcode);
                    }
                    else {
                        alert("Maximum 5 posts");
                    }
                } else {
                    this.$delete(this.selectedMediaList, el.node.id);
                    this.deleteItem(el.node.shortcode);
                }
            },
            deleteItem(el) {
                let links = this.link;
                links.forEach((link, i) => {
                    if (el === link) {
                        links.splice(i, 1);
                    }
                });
                this.link = links;
            },
            getNameButtonCategoryItem () {
                return this.existsSelectedCategory() ? 'Change' : 'Select'
            },
            existsSelectedCategory () {
                return typeof this.selectedCategory === 'object' && typeof this.selectedCategory.id !== 'undefined'
            },
            resetSelectedAccount() {
                this.$set(this.$data, 'selectedAccount', {})
            },
            nextStep() {

                if (this.stepFlag === 1) {
                    this.getInfo();
                    // this.stepFlag++;
                }

            },
            backStep() {
                this.stepFlag = 1;
            },
            hederBack() {
                if (this.stepFlag === 1) {
                    location.href = '/'
                }
                if (this.stepFlag === 2) {
                    this.stepFlag--;
                }
            },
            getInfo () {
                var res;
                var vm = this;
                var url='https://www.instagram.com/'+ vm.nickname +'/?__a=1'
                if (this.nickname !== '' && this.email !== '') {


                    let reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    let email = document.querySelector('#checkout-account-input-email').value;
                    if(reg.test(email) == false) {
                        alert('Incorrect e-mail');
                        return false;
                    }

                    $("#checkout-account-error").css("display", "none");
                    $("#getInfoButton").html("Loading...");

                    $.blockUI({message: '<img src="/src/img/icon-spinner-cyan.svg" />', css: { backgroundColor: 'none', color: 'none', border: 'none', left: '50%', 'margin-left': '-100px', width: '200px'}});


                    var Http = new XMLHttpRequest();
                    vm.Http2 = new XMLHttpRequest();
                    Http.open("GET", url, true);
                    Http.send();
                    
                    Http.onreadystatechange = function (e) {
                        if (Http.status !== 404 && Http.readyState === XMLHttpRequest.DONE) {

                            var id_nickName = JSON.parse(e.currentTarget.response).graphql.user.id
                            if (vm.idNickname) {
                                id_nickName = vm.idNickname;
                            }
                            vm.id_nickName = id_nickName;
                            var new_url = 'https://www.instagram.com/graphql/query/?query_id=17880160963012870&id='+ vm.id_nickName +'&first=50&after='
                            vm.profile_pic_url = JSON.parse(e.currentTarget.response).graphql.user.profile_pic_url;
                            vm.username = JSON.parse(e.currentTarget.response).graphql.user.username;
                         
                            vm.Http2.open("GET", new_url, true);
                            vm.Http2.send();
                           
                            vm.Http2.onreadystatechange = function (e) {
                                if (vm.Http2.status !== 404 && vm.Http2.readyState === XMLHttpRequest.DONE) {
                                    var instJSON = JSON.parse(e.currentTarget.response);
                                    var category = vm.getCurrentCategory();
                                    var special_offer_id = null;

                                    for (var i = 0; i < vm.listCategories.length; i++) {
                                        if (+vm.listCategories[i].count === +vm.selectedCountByCategory) {
                                            vm.selectedCountByCategoryValue = vm.listCategories[i].cost;
                                            vm.descriptionCategorie = vm.listCategories[i].description;
                                            special_offer_id = vm.listCategories[i].special_offer_id;
                                            vm.pocket_id = vm.listCategories[i].id;
                                        }
                                    }

                                    if (instJSON.data.user.edge_owner_to_timeline_media.edges.length === 0 && vm.descriptionCategorie.indexOf('Follower') === -1) {
                                        $("#checkout-account-error").css("display", "block");
                                        document.getElementById("checkout-account-error").innerText = "No photos";
                                        $.unblockUI();
                                        $("#getInfoButton").html("Continue");
                                        return;
                                    }

                                    var specialOfferArr = JSON.parse(vm.specialOffer);

                                    for (var i = 0; i < specialOfferArr.length; i++) {
                                        if (+specialOfferArr[i].id === +special_offer_id) {
                                            vm.special_offer = specialOfferArr[i];
                                        }
                                    }

                                    vm.accountInformation = {
                                        'instJSON': instJSON.data.user.edge_owner_to_timeline_media,
                                        'category': category,
                                        'descriptionCategorie': vm.descriptionCategorie,
                                        'selectedCountByCategory': vm.selectedCountByCategory,
                                        'selectedCountByCategoryValue': vm.selectedCountByCategoryValue,
                                        'special_offer': vm.special_offer,
                                        'oplataUser_id': vm.id_nickName,
                                        'oplataNickname': vm.nickname,
                                        'oplataEmail': vm.email,
                                        'pocket_id':vm.pocket_id,
                                        'oplataCsrfToken': vm.csrfToken,
                                        'oplataPaypalRoute': vm.paypalRoute,
                                        'profile_pic_url': vm.profile_pic_url,
                                        'username': vm.username
                                    }
                                    $.unblockUI();
                                    vm.stepFlag++;
                                }
                            }
                        }
                        if (Http.status === 404) {
                            $("#checkout-account-error").css("display", "block");
                            document.getElementById("checkout-account-error").innerText = "Page not found";
                            $("#getInfoButton").html("Continue");
                            $.unblockUI();
                            return;
                        }
                    };
                } else {
                    if(this.nickname === '') {
                        document.querySelector("#checkout-account-input").setAttribute("placeholder", "Input your instagram");
                    }
                    if(this.email === '') {
                        document.querySelector("#checkout-account-input-email").setAttribute('placeholder', "Input you email");
                    }
                }
            }
        }
    }
</script>
