@font-face{

	font-family: 'Nunito';
	
	src: url('/fonts/Nunito-Regular.ttf');
	src: url('/fonts/Nunito-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	
}
.adsHome-basic {
    max-height: 550px;
    max-width: 750px;
    margin: auto;
    top: calc(50% - 355px);
    position: relative;
}
.adsHome-body {
    font-family: Nunito, Helvetica, Sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#6db3f2,#38a8ff 37%,#38a8ff 60%,#38a8ff 66%,#e070ff);
}
.adsHome-html {
    height: 100%;
}
.adsHome-basic_text {
    font-size: 60px;
    color: white;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}
.adsHome-basic_button {
    margin-top: 20%;
    text-align: center;
}
.adsHome-basic_button_GetPrices {
    width: 252px;
    height: 69px;
    border-radius: 20px;
    padding: 0 10px;
    font-family: Nunito, Helvetica, Sans-serif;
    background: linear-gradient(221deg,#ffd42b,#ffb929);
    margin: 0 auto;
    font-size: 28px;
    line-height: 35px;
    cursor: pointer;
    border-width: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    font-weight: 900;
    text-align: center;
    color: #fff;
    display: inline-block;
    transition: margin .3s linear;
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 6px 10px 1px rgba(0, 0, 0, .1);
}
.adsHome-logo {
    display: inline-block;
    width: 92%;
    vertical-align: middle;
    max-width: 1000px;
    margin-top: 61px;
    height: 80px;
    margin-left: 4%;
}
.adsHome-logo_all {
    margin-top: -16px;
    text-decoration: none;
}
.adsHome-logo_all_text {
    color: #fff;
    top: -20px;
    font-family: Nunito, Helvetica, Sans-serif;
    font-size: 20px;    
    position: relative;
    display: inline;
}

@media screen and (max-width:800px) {
    .adsHome-basic {
        top: 0px;
        margin-top: 15vh;
    }
    .adsHome-basic_text {
        font-size: 28px;
    }
}

@media screen and (max-width:330px) {
    .adsHome-basic {
        margin-top: 10vh;
    }
}