.buy-x-choice {
    padding-top: 60px;
    height: 130px;
}

.buy-x-choice-select {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    height: 36px;
    line-height: 36px;
    font-size: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.buy-x-choice-select-menu {
    padding: 0 41px 0 15px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
}

.buy-x-choice-icon {
    left: auto;
    right: 0;
    float: right;
    height: 36px;
    display: inline;
    padding-top: 7px;
}

.buy-x-choice-icon img {
    height: 20px;
    width: 20px;
    display: inline;
}

.buy-x-button {
    margin: 0 auto;
    width: 162px;
}

.buy-x-button input {
    margin: 0 auto;
    display: inline;
}