
.a, .b, .d, .h {
    padding: 0;
}

.a {
    overflow: hidden;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    max-width: 1100px;
    margin: auto;
}

.b {
    text-align: center;
    margin: .3%;
    width: 12%;
    display: inline-block;
    min-width: 215px;
}

.d {
    margin: 5px;
    background-color: #fff;
    border: 3px solid hsla(4, 10%, 3%, 0.2);
    border-radius: 25px;
}

.c>h1, .e {
    font-weight: 200;
}

.c {
    font-size: 30px;
    font-weight: 200;
    padding: 6px 0;
    padding-top: 30px;
}
.c>div>span {
    font-size: 15px;
}
.e {
    font-size: 30px;
    color: #a0ce4e;
}

.h {
    list-style: none;
    margin: 0;
}

.k {
    padding: 28px 10px;
}


.yamuk {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 65px;
    height: 0;
    border: 25px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 25px solid #F44336;
    color: rgb(255,255,255);
    line-height: 1.8;
    font-size: 13px;
    font-weight: 600;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: relative;
    top: -3px;
    left: -28px;
    display: -webkit-box;
    margin-bottom: -25px;
    display: none;
}

.yamuk>span {
    line-height: 25px;
    font-size: 14px;
    display: block;
    width: 70px;
    text-align: center;
}

.l {
    display: inline-block;
    padding: 26px 0 15px 0px!important;
}

.f, .g {
    font-size: 22px;
    top: -23px;
    left: -6px;
    position: relative;
}

.g {
    font-size: 16px;
    top: 120px;
    position: absolute;
    color : #e8393d;
    text-decoration: line-through;
    left: auto;
}

.f {
    color: #888;
    font-size: 21px;
    font-weight: 400;
    top: -3px;
    left: 0px;
    position: relative;
}

.i {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
    color: #747474;
}


.j {
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background-color: #A0CE4E;
    border: none;
    border-radius: 12px;
    line-height: 17px;
    padding: 13px 15px;
}

.detail-select-category {
    width: 90%;
    border: 1px solid black;
    margin: 0 2%;
}

.target {
    font-size: 15px;
    margin-top: 14px;
}

.hot {
    position: absolute;
    width: 75px;
    height: 21px;
    background: #e8393d;
    border-radius: 0 246px 0 246px;
    right: 6px;
    top: 5px;
    font-size: 17px;
    font-family: Quicksand-Bold;
    font-weight: 700;
    color: #fff;
    line-height: 21px;
}

.buy-button {
    background :linear-gradient(135deg, rgba(109,179,242,1) 0%,rgba(56,168,255,1) 37%,rgba(56,168,255,1) 60%,rgba(56,168,255,1) 66%,rgba(224,112,255,1) 100%);
}

.buy-buttonFeatures {
    background :linear-gradient(221deg,#ffd42b,#ffb929);
}

@media (max-width: 960px) {
    .j {
        padding: 13px 10px;
    }
}

@media (max-width: 735px) {
    .b {
        display: block;
        min-width: 100%;
        padding: 10px 0;
    }

    .hot {
        height: 18px;
        font-size: 14px;
        top: 15px;
        right: 7px;
        line-height: 18px;
    }

    .quantityGoods {
        margin: auto;
    }

    .h {
        display: none;
    }

    .d {
        display: flex;
        height: 100px;
        border-radius: 25px;
        border: 2px solid hsla(4, 10%, 3%, 0.2);
    }

    .e {
        background-color: white;
        margin-right: 10px;
    }

    .c {
        width: 100px;
        display: flex;
        padding: 0px;
    }

    .target {
        font-size: 13px;
        color: #aeaeae;
        margin-top: 0px;
    }

    .e {
        width: 120px;

    }

    .k {
        display: flex;
        position: absolute;
        right: 3%;
    }

    .l {
       padding: 35px 0 15px 0px!important;
    }

    .yamuk {
        display: none;
        top: 3px;
        left: -47px;
    }

    .g {
        position: relative;
        font-size: 18px;
        top: -3px;
    }
}
@media (max-width: 350px) {
    .f {
        top: -2px;
        left: 0px;
    }
    .int {
        font-size: 28px;
    }
    .e {
        width: 90px;
    }
    .c {
        width: 96px;
    }
}
@media screen and (max-height:400px) {
    @media screen and (min-width:750px) {
        .b {
            min-width: 155px;
            width: 10%;
            margin: 0px
        }
        .g {
            top: 164px;
            width: 110%;
            left: 0px;
        }
    }
}