
.payment-wrapper {
    box-sizing: border-box;
    max-width: 100%;
    height: 300px;
}

.payment-container {
    margin: 10vh auto;
    max-width: 70vh;
}

.payment-top {
    height: 30vh;
}

.payment-top h1 {
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
}

.order-id-wrapper {
    text-align: center;
    font-size: 30px;
    text-transform: lowercase;
}

.order-id {
    font-size: 48px;
}

.payment-button {
    width: 55%;
    margin: 10px auto;
}