

.buy-x-v2 .buy-x-landing-curve {
    left: 0;
    width: 100%;
    pointer-events: none;
}

.special {
    padding: 1.2rem .8rem .666667rem .8rem;
    text-align: center;
}

.special-switch {
    height: auto;
}

.switch-title {
    font-size: 38px;
    padding-top: 30px;
    font-weight: 800;
    padding-bottom: 30px;
    font-family: Nunito, Helvetica, Sans-serif;
}

.switch-container {
    background: white;
    width: 400px;
    border-radius: 17px;
    padding: 22px 80px 22px 80px;
    margin: 0 auto;
    border: 1px solid rgb(99, 99, 99);
}

.timer {
    font-size: 70px;
    line-height: 94px;
    font-family: Nunito, Helvetica, Sans-serif;
}

.times {
    margin-bottom: 3px;
}

.tgr11 {
    font-size: 19px;
    line-height: 24px;
    font-family: Nunito, Helvetica, Sans-serif;
}

.large {
    width: 74px;
}
.header-title {
    padding-bottom: 12px;
    padding-top: 55px;
    font-size: 48px;
    line-height: 68px;
    width: 700px;
    position: relative;
    z-index: 111;
    margin: 0 auto;
    font-family: Nunito, Helvetica, Sans-serif;
}

.buy-x-v2 .buy-x-landing-scroll-down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.small {
    margin: 4px;
}

@media screen and (max-width:750px) {
    .header-title {
        width: auto;
    }
}
@media screen and (max-width:620px) {
    .header-title {
        font-size: 37px;
    }
    .switch-container {
        width: auto;
        padding: 22px 40px 22px 40px;
    }
    .timer {
        font-size: 60px;
    }

}
@media screen and (max-width:470px) {
    .timer {
        font-size: 46px;
    }
    .header-title {
        font-size: 28px;
        padding-top: 3.5vh;
    }
}
@media screen and (max-width:365px) {
    .header-title {
        padding-top: 1vh;
        font-size: 25px;
        line-height: 50px;
    }
    .timer {
        font-size: 38px;
    }
    .tgr11 {
        font-size: 17px;
    }

    .buy-x-v2 .buy-x-landing-scroll-down {
        padding: 30px 0;  
    }
}
